.ui-icon-audio-play {
	background-image: url("../img/18/play.png");
}

.ui-icon-audio-pause {
	background-image: url("../img/18/pause.png");
}

.ui-icon-audio-stop {
	background-image: url("../img/18/stop.png");
}

.ui-icon-audio-rewind {
	background-image: url("../img/18/rewind.png");
}

.ui-icon-audio-record {
	background-image: url("../img/18/record.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-audio-play {
		background-image: url("../img/36/play.png");
		background-size: 18px 18px;
	}
	
	.ui-icon-audio-pause {
		background-image: url("../img/36/pause.png");
		background-size: 18px 18px;
	}
	
	.ui-icon-audio-stop {
		background-image: url("../img/36/stop.png");
		background-size: 18px 18px;
	}
	
	.ui-icon-audio-rewind {
		background-image: url("../img/36/rewind.png");
		background-size: 18px 18px;
	}
	
	.ui-icon-audio-record {
		background-image: url("../img/36/record.png");
		background-size: 18px 18px;
	}
}
#index-page a {
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	display: block;
	margin: 0 auto;
	width: 108px;
	text-align: center;
}
#index-page a img {
	display: block;
	margin: 0 auto;
}
#index-page  .ui-grid-b{
	margin: 15px 0;
}
#aboutme .header {
	width: 78px;
	height: 78px;
	padding: 5px;
	border： 1px solid #999999;
}